html {
    scroll-behavior: smooth;
}

h1 {
    z-index: 2;
    margin: 0;
}

a {
    text-decoration: none;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    background: url("resources/img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#background {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url("resources/img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* COMMON */

.box > h1 {
    opacity: 0;
}

.revealLeft {
    animation: revealLeft 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
}

.revealLeftt34 {
    animation: revealLeft 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: .75s;
}

.revealLeftt44 {
    animation: revealLeft 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: 1s;
}

.revealLeftt54 {
    animation: revealLeft 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: 1.25s;
}

.revealRight {
    animation: revealRight 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
}
.revealRightt34 {
    animation: revealRight 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: .75s;
}

.revealRight44 {
    animation: revealRight 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: 1s;
}

.revealRight54 {
    animation: revealRight 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: 1.25s;
}

.box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.box > h1 {
    font-size: 40px;
}

.h1Lines {
    width: 300px;
    height: 1px;
    border-top: 3px solid black;
    margin-top: 7px;
    opacity: 0;
    margin-bottom: 60px;
}

/* PRESENTATION */

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#index {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    align-self: center;
    min-width: 500px;
}

#nameBox {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    animation: revealLeft 1s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    color: white;
}

#nameBox > h1 > span {
    color: rgb(61, 7, 112);
}

#nameBox > * {
    animation: revealRight 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
}

#rrss {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 40px;
    margin-top: 10px;
}

#rrss > a {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#rrss > a > img{
    height: 100%;
    object-fit: fill;
    cursor: pointer;
}

#lineLinks {
    width: 0px;
    height: 30px;
    justify-self: center;
    align-self: center;
    border-left: 1px solid white;
    z-index: 2;
    margin-bottom: 4px;
}

#links {
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    min-width: 500px;
    height: 40px;
    position: relative;
    top: -4px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    width: 100%;
    height: 30px;
    opacity: 0;
}

.link:nth-child(1) {
    animation: revealRight 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: .75s;
}
.link:nth-child(2) {
    animation: revealRight 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: 1s;
}
.link:nth-child(3) {
    animation: revealRight 1.5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: 1.25s;
}

/* ABOUT SECTION */

#aboutDiv {
    background-color: rgba(255, 255, 255, 0.904);
    height: auto;
}

#myself {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#photo {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo > img {
    height: 200px;
}

#description {
    width: 35%;
}

#languages {
    width: 75%;
    height: 100px;
    margin-top: 30px;
}

#languages > span {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: default;
    transition: 0.3s;
}

#languages > span:hover {
    transform: scale(1.3);
    color: brown;
}

/* PROJECTS SECTION*/

#projectsDiv {
    background-color: rgba(231, 231, 231, 0.911);
}

#wrapProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    width: 300px;
    height: 300px;
    background-color: tomato;
    opacity: 0;
    margin-bottom: 30px;
}

#wrapProjects:not(:first-child):not(:last-child) {
    margin-left: 20px;
    margin-right: 20px;
  }

.projectVisible {
    animation: revealBottom 1s cubic-bezier(0, 1, 0.5, 1) normal forwards;

}

/* CONTACT SECTION */

#contactDiv {
    position: relative;
    width: 100%;
    height: 7050px;
    text-align: center;
    background-color:teal;
}

/* ANIMATIONS */
@keyframes revealLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes revealRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes revealBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}