html {
    scroll-behavior: smooth;
}

h1 {
    z-index: 2;
    color: white;
}

a {
    text-decoration: none;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    background: url("resources/img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#background {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url("resources/img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* PRESENTATION */

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    min-width: 500px;
}

#nameBox {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    opacity: 0;
    animation: revealLeft .5s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    color: white;
}

#nameBox > * {
    animation: revealRight 1s cubic-bezier(0, 1, 0.5, 1) normal forwards;
}

#lineLinks {
    width: 0px;
    height: 30px;
    justify-self: center;
    align-self: center;
    border-left: 1px solid white;
    z-index: 2;
    margin-bottom: 4px;
}

#links {
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    min-width: 500px;
    height: 40px;
    position: relative;
    top: -4px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    width: 100%;
    height: 30px;
    opacity: 0;
}

.link:nth-child(1) {
    animation: revealRight 1s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: .75s;
}
.link:nth-child(2) {
    animation: revealRight 1s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: 1s;
}
.link:nth-child(3) {
    animation: revealRight 1s cubic-bezier(0, 1, 0.5, 1) normal forwards;
    animation-delay: 1.25s;
}

/* ABOUT SECTION */

#aboutDiv {
    width: 100%;
    height: 100vh;
    background-color: rgba(82, 82, 82, 0.712);
    text-align: center;
}

/* CONTACT SECTION */

#contactDiv {
    position: relative;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color:teal;
}

/* PROJECTS SECTION*/

#projectsDiv {
    width: 100%;
    text-align: center;
}

#wrapProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    width: 300px;
    height: 300px;
    background-color: tomato;
    opacity: 0;
}

.projectVisible {
    animation: revealBottom 1s cubic-bezier(0, 1, 0.5, 1) normal forwards;

}

/* ANIMATIONS */
@keyframes revealLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes revealRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes revealBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}